* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #ffffff;
    --bg_body: #f0f9ff;
    --lines-color: #dddddd;
    --body-text: #333333;
    --heart-color: #dc143c;
    --details-text: black;
    --white-color: white;
    --rating-icon: goldenrod;
    --gray-color: gray;
}

.welcomeSection h2 {
    padding-right: 13%;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--brand-secondary);
}

.welcomeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    font-weight: bold;

}