/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--bg_default);
}

nav p {
    color: var(--brand-primary);
    font-weight: bold;
}
.icon{
    
    padding-right:2px;
}

/* Triangles */
.triangleContainer {
    position: relative;
    height: 20px;
}

.triangleBlue {
    position: absolute;
    left: 0;
    top: 0;
    border-left: 89vw solid var(--brand-primary);

    border-bottom: 4vw solid transparent;
    border-top: 0px solid transparent;
    z-index: 2;
}

.triangleGreen {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 110vw solid transparent;
    border-top: 4vw solid var(--brand-secondary);
    border-bottom: 0px solid transparent;
    z-index: 1;
}

/* WelcomeBar */

.welcomeSection h2 {
    padding-right: 13%;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--brand-secondary);
}

.welcomeSection {
    background-color: var(--bg_default);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    font-weight: bold;
    color: var(--body-text);

}